.App {
  display: flex;
  font-family: cursive;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  background-image: url("https://images.unsplash.com/photo-1631476551355-d2a4b8369a88?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE0fHFQWXNEenZKT1ljfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-attachment: fixed;
  background-size: cover;
}

.mycard {
  margin-top: 6rem;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  width: 18rem;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.listone {
  list-style: none;
  padding: 0.4rem;
  margin-left: 9px;
}
.listlast {
  min-height: 5rem;
  display: flex;
  margin-left: 9px;
  padding: 0.4rem;
  flex-wrap: wrap;
}

.mycard .card-title {
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-style: italic;
}
.mycard:hover {
  transition: 0.2s ease-in-out;
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 4px 36px rgba(0, 0, 0, 0.4),
    1px 10px 10px rgba(12, 11, 11, 0.432);
}
